@fontName: 'Segoe UI';

// Tiles size
@smallWidth: 70px;
@largeLineWidth: 310px;
@mediumWidth: 150px;
@largeWidth: 310px;
@smallHeight: 70px;
@largeLineHeight: 150px;
@mediumHeight: 150px;
@largeHeight: 310px;

@tileMarge: 10px;
@editMarge: 10px;

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: @fontName;
}

h1 {
    padding: 0 0 0 72px;
}

// Custom colors
.yellowOrange {
    .backColor {
        background-color: #fbb735;
    }

    .borderColor {
        border-color: #fbb735;
    }
}

.fireBush {
    .backColor {
        background-color: #e98931;
    }

    .borderColor {
        border-color: #e98931;
    }
}

.cinnabar {
    .backColor {
        background-color: #eb403b;
    }

    .borderColor {
        border-color: #eb403b;
    }
}

.wellRead {
    .backColor {
        background-color: #b32e37;
    }

    .borderColor {
        border-color: #b32e37;
    }
}

.finn {
    .backColor {
        background-color: #6c2a6a;
    }

    .borderColor {
        border-color: #6c2a6a;
    }
}

.victoria {
    .backColor {
        background-color: #5c4399;
    }

    .borderColor {
        border-color: #5c4399;
    }
}

.bayOfMany {
    .backColor {
        background-color: #274389;
    }

    .borderColor {
        border-color: #274389;
    }
}

.matisse {
    .backColor {
        background-color: #1f5ea8;
    }

    .borderColor {
        border-color: #1f5ea8;
    }
}

.easternBlue {
    .backColor {
        background-color: #227fb0;
    }

    .borderColor {
        border-color: #227fb0;
    }
}

.scooter {
    .backColor {
        background-color: #2ab0c5;
    }

    .borderColor {
        border-color: #2ab0c5;
    }
}

.fountainBlue {
    .backColor {
        background-color: #5bc4be;
    }

    .borderColor {
        border-color: #5bc4be;
    }
}

//
.back {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 100%);
}

.clear {
    clear: both;
}

.gridMenu {
    position: fixed;
    width: 155px;

    .menu {
        position: relative;
        color: #fff;
        font-size: 19px;
        display: block;
        text-decoration: none;

        .back {
            padding: 20px 10px;
            width: 115px;
            height: 42px;
        }

        .backColor {
            height: 70px;
            width: 135px;
        }

        .arrowRight {
            position: absolute;
            left: 137px;
            top: 0px;
        }
    }
}

.grid {
    padding: 0 30px 0 170px;

    .gridSection {
        padding-bottom: 10px;
        display: inline-grid;
        transition: width ease-out 0.2s, height ease-out 0.2s;
    }

    .tile {
        transition: left ease-out 0.2s, top ease-out 0.2s, transform ease-out 0.5s;
        /*position: relative;*/
        padding: 0 @tileMarge @tileMarge 0;
        /*float: left;*/
        color: #fff;

        .title {
            color: #fff;
            position: absolute;
            left: 20px;
            bottom: 10px;
        }

        .small {
            transition: height ease-out 0.2s, width ease-out 0.2s;
            width: @smallWidth;
            height: @smallHeight;
        }

        .medium {
            transition: height ease-out 0.2s, width ease-out 0.2s;
            width: @mediumWidth;
            height: @mediumHeight;
        }

        .largeLine {
            transition: height ease-out 0.2s, width ease-out 0.2s;
            width: @largeLineWidth;
            height: @largeLineHeight;
        }

        .large {
            transition: height ease-out 0.2s, width ease-out 0.2s;
            width: @largeWidth;
            height: @largeHeight;
        }
    }

    .tile.selected {
        transform: scale(1.15) !important;
    }
}

@marginAnimation: @editMarge/2 @tileMarge+@editMarge/2 @tileMarge+@editMarge/2 @editMarge/2;
@marginAnimationCoin1: 0 @tileMarge+@editMarge @tileMarge+@editMarge 0;
@marginAnimationCoin2: @editMarge @tileMarge+@editMarge @tileMarge 0;
@marginAnimationCoin3: @editMarge @tileMarge @tileMarge @editMarge;
@marginAnimationCoin4: 0 @tileMarge @tileMarge+@editMarge @editMarge;

@keyframes floatAnimation1 {
    0% {
        margin: @marginAnimation;
    }

    20% {
        margin: @marginAnimationCoin1;
    }

    40% {
        margin: @marginAnimationCoin2;
    }

    60% {
        margin: @marginAnimationCoin3;
    }

    80% {
        margin: @marginAnimationCoin4;
    }

    100% {
        margin: @marginAnimation;
    }
}

@keyframes floatAnimation2 {
    0% {
        margin: @marginAnimation;
    }

    20% {
        margin: @marginAnimationCoin3;
    }

    40% {
        margin: @marginAnimation;
    }

    60% {
        margin: @marginAnimationCoin1;
    }

    80% {
        margin: @marginAnimationCoin4;
    }

    100% {
        margin: @marginAnimation;
    }
}

@keyframes floatAnimation3 {
    0% {
        margin: @marginAnimation;
    }

    20% {
        margin: @marginAnimationCoin3;
    }

    40% {
        margin: @marginAnimationCoin4;
    }

    60% {
        margin: @marginAnimation;
    }

    80% {
        margin: @marginAnimationCoin1;
    }

    100% {
        margin: @marginAnimation;
    }
}

@keyframes floatAnimation4 {
    0% {
        margin: @marginAnimation;
    }

    20% {
        margin: @marginAnimationCoin2;
    }

    40% {
        margin: @marginAnimationCoin4;
    }

    60% {
        margin: @marginAnimationCoin3;
    }

    80% {
        margin: @marginAnimationCoin1;
    }

    100% {
        margin: @marginAnimation;
    }
}

.grid.edit {
    .flecheTile {
        background-repeat: no-repeat;
        z-index: 1;
        width: 30px;
        height: 30px;

        &.d {
            background-image: url(/Images/FlecheD.png);
        }

        &.bd {
            background-image: url(/Images/FlecheBD.png);
        }

        &.b {
            background-image: url(/Images/FlecheB.png);
        }

        &.hg {
            background-image: url(/Images/FlecheHG.png);
        }
    }

    .tile {
        transform: scale(0.80);
    }
}

.borderColor {
    border: 1px solid;
}

@keyframes arrowAnimSelected {
    0% {
        border-left-width: 0px;
    }

    100% {
        border-left-width: 18px;
    }
}

@keyframes arrowAnimUnSelected {
    0% {
        border-left-width: 18px;
    }

    100% {
        border-left-width: 0px;
    }
}

.arrowRight {
    border-left: 0px solid;
    border-right: none;
    border-top: 36px solid transparent !important;
    border-bottom: 36px solid transparent !important;
}

    .arrowRight.selected {
        animation: arrowAnimSelected 1s;
        border-left-width: 18px;
    }

    .arrowRight.unselected {
        animation: arrowAnimUnSelected 1s;
    }

.logger {
    .DEBUG {
        color: green;
    }

    .ERROR {
        color: red;
    }
}
