@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
