@model Dommy.Web.Models.HomeIndexModel
@{
    Layout = "~/views/shared/_Layout.cshtml";
}

<div>
    @foreach (var tile in Model.Tiles)
    {
        <div style="background-color: @tile.BackGroundColor.Name">
            <span>@tile.Title</span>
        </div>
    }
</div>